{# --- title: Index page --- #} 
{# IMPORTING DATA COMPONENTS #} 
{% import "data/_cards.html" as cards_set %} 
{% import "data/_selects.html" as selects_set %}
{# IMPORTING MIXINS #}
{% import "partials/_mixins.html" as mixins %}
{% import "components/_titles.html" as titles %} 
{% import "components/_cards.html" as cards_builder %} 
{% import "components/_select.html" as select_builder %}
{% import "components/_filter.html" as filter %} 
{% import "components/_range.html" as range_input %} 
{% import "components/_dropdown-menu.html" as dd_menu %}
{% import "components/_breadcrumb.html" as breadcrumb %} 
{# MAIN LAYOUT #}
{% extends "layouts/_layout.html" %}
{% block content %}
<div class="inner">
    {# BREADCRUMBS #}
    <div class="gift-catalog__breadcrumbs">
        {{breadcrumb.make([ 
                    {"class": "no-underline"}, 
                    {"text": "Home", "link": "ui.html"}, 
                    {"text": "Gift baskets to Brazil", link:"#"},
                    {"text": "Brazil gifts online catalog", "active": true} 
                    ])
        }}
    </div>
        
    <div class="gift-catalog__service-locations">
        {{filter.sel_location_tooltip()}}
    </div>

    <div class="gift-catalog__main-title">
        {{titles.titleBig('brazil gift delivery by giftbasketoverseas.com')}}
    </div>

    <div class="gift-catalog__filter">
        {{filter.filter_3_selects_with_label()}}
    </div>
</div>
.

{% include "components/_subscribe.html" %}
{% include "partials/_footer.html" %} 

{% endblock %}