{# --- title: Index page --- #}

{# MAIN LAYOUT #}
{% extends "layouts/_layout.html" %}
{% block content %}
    {% include "components/_carousel.html" %}
    <div class="start-page">
        <div class="start-page__special special">
            <div class="start-page__container inner">
                <h3 class="title-thin">
                    Send Gifts to
                    <a href="#" class="link-green">200 Countries</a>
                    in 3 Easy Steps
                    {{mixins.icon('video')}}
                </h3>
                <section class="start-page__filter">
                <form action="" class="filter filter--center js-filter">
                    <div class="filter__select-wrapper">
                        <label class="select-label">
                            step 1:
                            <span class="blue-colored">delivery location</span>
                        </label>
                        <div class="select-select">
                            {{select_builder.sel(selects_set.destinationCountries)}}
                        </div>
                    </div>
                    <div class="filter__select-wrapper">
                        <label class="select-label">
                            step 2:
                            <span class="blue-colored">occasion</span>
                        </label>
                        <div class="select-select">
                            {{select_builder.sel(selects_set.occasionSet)}}
                        </div>
                    </div>
                    <div class="filter__select-wrapper">
                        <label class="select-label">
                            step 3:
                            <span class="blue-colored">date</span>
                        </label>
                        <div class="select-select">
                            {{select_builder.sel(selects_set.datesSet)}}
                        </div>
                    </div>
                    <div class="filter__btn ">
                        <button class="btn btn-rounded btn-rounded--green">
                            Find Gifts
                        </button>
                    </div>
                </form>
            </section>
            </div>
        </div>
        <div class="start-page__container inner">
            <div class="start-page__cards">
                {{titles.titleBig('CUSTOMER FAVORITES')}}
                <div class="cards sm-one-column js-cards-container">
                    {{cards_builder.card(cards_set.cardsMain)}}
                </div>
            </div>
        </div>
    </div>
{% include "components/_subscribe.html" %}
{% include "partials/_footer.html" %}
{% endblock %}