{% import "partials/_mixins.html" as mixins %}

<div class="js-dropdown shopping">
	<button class="js-dropdown-btn shopping-btn">
		CONTINUE SHOPPING
		<span class="shopping-btn__icon">{{mixins.icon('chevron-down')}}</span>
	</button>
	<ul class="shopping-btn__list">
		<li class="shopping-btn__item">
			<a href="#" class="shopping__link">Homepage</a>
		</li>
		<li class="shopping-btn__item">
			<a href="#" class="shopping__link">Recently Viewed Item</a>
		</li>
		<li class="shopping-btn__item">
			<a href="#" class="shopping__link">Gifts to CountryX</a>
		</li>
		<li class="shopping-btn__item">
			<a href="#" class="shopping__link">Recently Viewed Item</a>
		</li>
	</ul>
</div>