<div class="slide-full-width-container">
		<div class="slider-full-width-wrapper container-inner">
				<div class="slider-full-width-dots js-slider-dots owl-carousel">
						<div class="slide-full-width"  style="background-image: url(./assets/img/general/gifts-1/gift_img_6.jpg)">
								<h4>Happy Passover!</h4>
								<p>Get $7 USD off any order with coupon code: 1WSR54</p>
								<button>Shop now</button>
								<p>The coupon is valid until March, 20</p>
						</div>
						<div class="slide-full-width" style="background-image: url(./assets/img/general/gifts-1/gift_img_1.jpg)">
							<h4>Happy Passover!</h4>
							<p>Get $7 USD off any order with coupon code: 1WSR54</p>
							<button>Shop now</button>
							<p>The coupon is valid until March, 20</p>
					</div>
					<div class="slide-full-width" style="background-image: url(./assets/img/general/gifts-1/gift_img_2.jpg)">
						<h4>Happy Passover!</h4>
						<p>Get $7 USD off any order with coupon code: 1WSR54</p>
						<button>Shop now</button>
						<p>The coupon is valid until March, 20</p>
				</div>
				<div class="slide-full-width" style="background-image: url(./assets/img/general/gifts-1/gift_img_2.jpg)">
					<h4>Happy Passover!</h4>
					<p>Get $7 USD off any order with coupon code: 1WSR54</p>
					<button>Shop now</button>
					<p>The coupon is valid until March, 20</p>
			</div>
				</div>
		</div>
</div>