<div class="slide-full-width-container">
	<div class="slider-full-width-wrapper container-inner">
		<div class="slider-full-width-dots js-slider-dots owl-carousel">
			<div class="slide-full-width" style="background-image: url(./assets/img/general/slider/flower1.jpeg)">
				<h4 class="slider-full-width-title">Happy Passover!</h4>
				<p>Get $7 USD off any order with coupon code: 1WSR54</p>
				<button class='btn slider-full-width-btn'>Shop now</button>
				<p>The coupon is valid until March, 20</p>
			</div>
			<div class="slide-full-width" style="background-image: url(./assets/img/general/slider/flower2.jpeg)">
				<h4 class="slider-full-width-title">Happy Passover!</h4>
				<p>Get $7 USD off any order with coupon code: 1WSR54</p>
				<button class='btn slider-full-width-btn'>Shop now</button>
				<p>The coupon is valid until March, 20</p>
			</div>
			<div class="slide-full-width" style="background-image: url(./assets/img/general/slider/flower3.jpeg)">
				<h4 class="slider-full-width-title">Happy Passover!</h4>
				<p>Get $7 USD off any order with coupon code: 1WSR54</p>
				<button class='btn slider-full-width-btn'>Shop now</button>
				<p>The coupon is valid until March, 20</p>
			</div>
			<div class="slide-full-width" style="background-image: url(./assets/img/general/slider/flower4.jpeg)">
				<h4 class="slider-full-width-title">Happy Passover!</h4>
				<p>Get $7 USD off any order with coupon code: 1WSR54</p>
				<button class='btn slider-full-width-btn'>Shop now</button>
				<p>The coupon is valid until March, 20</p>
			</div>
		</div>
	</div>
</div>