{% macro sel(props) %}
    <select name='{{props.name}}' id="{{props.id}}" class="{% if props.withFlag %}js-select-flag select-with-flag{% else %}js-select{% endif %} select" data-placeholder="{{props.placeholder}}">
        {% for option in props.options %}
            <option {% if option.value %}value='{{option.value}}'{% endif %}{% if option.image %}data-flag='{{option.image}}'{% endif %}>{{option.title}}</option>
        {% endfor %}
    </select>
{% endmacro %}

{# 
<select name='select-green' id="select1" class="js-select" data-placeholder="Select a state">
    <option value='Birthday' >Occasions</option>
    <option value='Just Because' >Any Occasion</option>
    <option value='Christmas'>Christmas</option>
    <option value='Anniversary'>Anniversary</option>
    <option value='Birthday'>Birthday</option>
    <option value='Congratulations'>Congratulations</option>
    <option value='Get Well'>Get Well</option>
    <option value='Graduation'>Graduation</option>
    <option value='Housewarming'>Housewarming</option>
    <option value='Christmas'>New Year</option>
    <option value='Romantic'>Romantic & Valentine's</option>
    <option value='Sympathy and Funeral'>Sympathy and Funeral</option>
    <option value='Thank You'>Thank You</option>
    <option value='Wedding'>Wedding</option>
    <option value='Gourmet-Gift-Baskets' >Categories</option>
    <option value='Christmas-Gift-Baskets'>Christmas Gift Baskets</option>
    <option value='Baby-Gift-Baskets'>Baby Gift Baskets</option>
    <option value='Chocolate-Gift-Baskets'>Chocolate Gift Baskets</option>
    <option value='Champagne-Gifts'>Champagne Gifts</option>
    <option value='Corporate-Gifts'>Corporate Gifts</option>
    <option value='Flowers'>Flowers</option>
    <option value='Fruit-Baskets'>Fruit Baskets</option>
    <option value='Gourmet-Gift-Baskets'>Gourmet Gift Baskets</option>
    <option value='Spa-Gifts'>Spa Gifts</option>
    <option value='Sweet-Gourmet-Gifts'>Sweet Gourmet Gifts</option>
    <option value='Tea-Coffee-Gifts'>Tea Coffee Gifts</option>
    <option value='Wine-Gift-Baskets'>Wine Gift Baskets</option>
    <option value='Gifts for Bosses' >Recipients</option>
    <option value='Gifts for Bosses'>Gifts for Bosses</option>
    <option value='Gifts for Business Associates'>Gifts for Business Associates</option>
    <option value='Gifts For Friends'>Gifts For Friends</option>
    <option value='Gifts For Kids'>Gifts For Kids</option>
    <option value='Gifts For Loved Ones'>Gifts For Loved Ones</option>
    <option value='Gifts For Men'>Gifts For Men</option>
    <option value='Gifts For Women'>Gifts For Women</option>
</select> #}