{% set cardsCategoryPage = [
		{
				"size": "big",
				"image": {
						"src": "gift_img_1.jpg"
				},
				"free_mark": true,
				"title": "Endless Connection Necklace in Rose ",
				"title_divider": true,
				"id": "11019",
				"price": "333.33",
				"select": {
						" name ": "sel1",
						"id": "sel1",
						"placeholder": "sel1",
						"options": [
								{
										"value": "1",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "2",
										"title": "€ 126.83 (EUR)"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_1.jpg"
				},
				"title": "Morning Delights Coffee Cake",
				"title_divider": true,
				"id": "5056",
				"price": "333.33",
				"select": {
						"name": "sel2",
						"id": "sel2",
						"placeholder": "sel1",
						"options": [
								{
										"value": "2",
										"title": "Occasions"
								}, {
										"value": "3",
										"title": "Any ocassion"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_2.jpg"
				},
				"title": "Mixed Tulips Selection",
				"title_divider": true,
				"id": "8056",
				"price": "Price selection",
				"select": {
						"name": "sel3",
						"id": " sel3 ",
						"placeholder": "sel3",
						"options": [
								{
										"value": "1",
										" title ": "€ 526.83 (EUR)"
								}, {
										"value": "2",
										" title ": "€ 526.83 (EUR)"
								}, {
										"value": "3",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "4",
										"title": "€ 526.83 (EUR)"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_4.jpg"
				},
				"title": "Twist of Fate Adjustable Ring",
				"title_divider": true,
				"id": "11024",
				"price": "Price selection",
				"select": {
						"name": "sel4",
						"id": "sel4",
						"placeholder": "sel4",
						"options": [
								{
										"value": "1",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "2",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "3",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "4",
										"title": "€ 526.83 (EUR)"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_1.jpg"
				},
				"free_mark": true,
				"title": "Endless Connection Necklace in Rose",
				"title_divider": true,
				"id": "11019",
				"price": "333.33",
				"select": {
						"name": "sel5",
						"id": "sel5",
						"placeholder": "sel5",
						"options": [
								{
										"value": "1",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "2",
										"title": "€ 126.83 (EUR)"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_1.jpg"
				},
				"title": "Morning Delights Coffee Cake ",
				"title_divider": true,
				"id": " 5056 ",
				"price": "333.33",
				"select": {
						"name": "sel6",
						"id": "sel6",
						"placeholder": "sel6",
						"options": [
								{
										"value": "2",
										"title": "Occasions"
								}, {
										"value": "3",
										"title": "Any ocassion"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_2.jpg"
				},
				"title": "Mixed Tulips Selection",
				"title_divider": true,
				"id": "8056",
				"price": "Price selection",
				"select": {
						"name": "sel7",
						"id": "sel7",
						"placeholder": "sel7",
						"options": [
								{
										"value": "1",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "2",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "3",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "4",
										"title": "€ 526.83 (EUR)"
								}
						]
				}
		}, {
				"size": "big",
				"image": {
						"src": "gift_img_4.jpg"
				},
				"title": "Twist of Fate Adjustable Ring",
				"title_divider": true,
				"id": " 11024 ",
				"price": "priceselection",
				"select": {
						"name": "sel8",
						"id": "sel8",
						"placeholder": "sel8",
						"options": [
								{
										"value": "1",
										"title": "€ 526.83 (EUR)"

								}, {
										"value": "2",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "3",
										"title": "€ 526.83 (EUR)"
								}, {
										"value": "4",
										"title": "€ 526.83 (EUR)"
								}
						]
				}
		}
] %}