{% set countriesSelect = {

		"name": "countries",
		"id": "countries",
		"placeholder": "sel1",
		"withFlag": true,
		"options": [
				{
						"value": "1",
						"title": "Russia", 
						"image": 'ru-flag'
				}, {
						"value": "2",
						"title": "Ukraine",
						"image": 'ukr-flag'
				}, {
						"value": "3",
						"title": "Latvia",
						"image": 'ru-flag'
				}, {
						"value": "4",
						"title": "Lithuania",
						"image": 'ru-flag'
				}, {
						"value": "5",
						"title": "Estonia",
						"image": 'ru-flag'
				}, {
						"value": "6",
						"title": "Belarus",
						"image": 'bel-flag'
				}, {
						"value": "7",
						"title": "Kazakhstan",
						"image": 'ru-flag'
				}, {
						"value": "8",
						"title": "Moldova",
						"image": 'ru-flag'
				}, {
						"value": "44",
						"title": "USA",
						"image": 'ru-flag'
				}, {
						"value": "53",
						"title": "Australia",
						"image": 'ru-flag'
				}
		]
} %}

{% set sortingTypesSelect = {
		"name": "sorting",
		"id": "sorting",
		"placeholder": "sel1",
		"options": [
				{
						"value": "1",
						"title": "Sort By: Most Popular"

				}, {
						"value": "2",
						"title": "Sort By: Lowest Price"

				}, {
						"value": "3",
						"title": "Sort By: The Highest Price"

				}, {
						"value": "4",
						"title": "Sort By: The Newest"
				}
		]
} %}