.gift-catalog
    &__main-title
        text-align: center
        margin: 20px auto
    &__subtitle
        text-align: center
        margin: 30px auto 10px
    &__add-cards
        text-align: center
        margin: 24px auto 30px