.gift-catalog
    &__breadcrumbs
        margin: 20px 0 30px
    &__main-title
        text-align: center
        margin: 20px auto
    &__subtitle
        text-align: center
        margin: 30px auto 10px
    &__add-cards
        text-align: center
        margin: 24px auto 30px
    &__recommendation 
        text-align: center
    &__video-upper
        text-align: center
        margin: 24px auto 42px
        iframe
            width: 718px
            height: 321px
            +sm 
                width: 100%
                height: auto
    &__video-bottom
        text-align: center
        margin-bottom: 56px
        iframe
            width: 1200px
            height: 600px
            +sm 
                width: 100%
                height: auto
    &__testimonials
        text-align: center
    &__testimonials-container
        max-width: 740px
        margin: 0 auto
    &__testimonials-title
        font-size: 22px
        text-align: center
        margin-bottom: 20px
