.gift-deliver-to
    &__header-text
        max-width: 1000px
        margin: 0 auto 20px
        text-align: center
        p 
            font-family: $corp
            line-height: 1.7
            font-size: 20px
    &__main-title
        text-align: center
        margin: 10px auto 8px
    &__filter 
        .filter__btn
            margin-top: 20px
        .filter__select
            width: 263px
    &__descr
        margin: 40px auto 60px
        +clr
    &__descr-text
        float: left
        width: 830px
        padding-right: 150px
    &__service-cards
        float: left
        width: calc(100%)
    &__title
        font-family: $corp
        font-size: 30px
        font-weight: 700
        color: $text_black
        letter-spacing: -0.7px
        margin-bottom: 14px
    .delivery-card
        margin-bottom: 7px
    &__motto-bottom
        text-align: center
        margin: 30px auto
