.usa
    &__breadcrumbs
        margin-bottom: 20px
    &__filter
        margin-bottom: 36px
        .filter__select-wrapper:first-child
            padding-left: 0
        .filter__select-globe
            margin-left: 0
    &__title
        text-align: center
        margin-bottom: 30px
    &__main-title
        margin-bottom: 16px
        text-align: center
    &__secondary-title
        margin-bottom: 16px
    &__cards
        margin-bottom: 148px
        +sm 
            margin-bottom: 20px
    &__cities-menu
        margin-bottom: 240px
        +sm 
            margin-bottom: 20px
