.btn
	display: inline-block
	font-family: $corp
	vertical-align: middle
	font-size: 17px

.btn-square
	position: relative
	padding: 10px 14px
	background-color: $main-green
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: normal
	letter-spacing: -0.4px
	text-align: center
	color: #ffffff
	text-transform: uppercase
	transition: background-color 0.5s
	&__text
		display: inline-block
		padding-right: 48px
		// border-right: 2px solid $white
	&:after
		position: absolute
		content: ''
		top: 0
		height: 100%
		width: 2px
		background-color: #fff
		right: 40px
	&__icon
		display: inline-block
		vertical-align: middle
		// margin-left: 48px
		.icon
			fill: $white
	&.hover-bg:hover
		background-color: $dark-green
		transition: background-color 0.5s

.btn-rounded
	color: $white
	border-radius: 4px
	text-align: center
	text-transform: uppercase
	padding: 7px 30px
	border-radius: 20px
	&--green 
		background-color: $main-green

.btn-underline
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: normal
	letter-spacing: normal
	text-align: center
	color: $main-green
	border-bottom: 1px solid  $dark-green
	+hover
		color: $dark-green

.btn-load-more
	position: relative
	&:after
		position: absolute
		content: ''
		top: 100%
		left: 50%
		transform: translateX(-50%)
		+arr(20, 10, $main-green, b)