.slider-wrapper
    max-width: 1000px
    margin: 0 auto
    border-top: 1px solid #0f0
    border-left: 1px solid #0f0
    margin-bottom: 40px
    .card
        width: auto
        max-width: 250px
        &__title
            font-size: 16px

.owl-prev,
.owl-next 
  height: 48px
  width: 48px
  position: absolute
  top: 50%
  transform: translateY(-50%)

.owl-prev 
  left: -76px


.owl-next 
  right: -76px

.slide-full-width
    +cover
    height: 200px
    text-align: center

.slider-full-width-btn
    background-color: $extra-light-green
    text-transform: uppercase
    color: $dark-green
    font-size: 24px
    padding: 10px 20px
    border-radius: 10px

.slider-full-width-title
    font-family: CorpidE1sSCd
    font-size: 48px
    font-weight: 800
    color: $title_dark
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: -0.4px


.slider-full-width-dots
    position: relative

.owl-dots
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
.owl-dot
    border-radius: 50%
    width: 12px
    height: 12px
    background-color: $dark_blue
    // opacity: 0.5
    margin: 0 6px
    &.active
        background-color: $main-green

