.filter
    display: flex
    align-items: flex-start
    justify-content: space-between
    font-family: $corp
    +md 
        flex-wrap: wrap
    +sm
        display: none
        flex-flow: column
        margin: 20px auto
        justify-content: center
        align-items: center
    &--center 
        justify-content: center
        flex-wrap: wrap
        align-items: flex-end
    &--single
        justify-content: center
    
    &__filter
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-left: auto
        +md 
            flex: 0 0 100%
            justify-content: center
        +sm
            flex-flow: column
            width: 100%
            align-items: center
            justify-content: center
            margin-left: 0
        &--sm-right-centered
            +sm 
                align-items: flex-end
                max-width: 300px
                margin: 0 auto
                .filter__range
                    justify-content: flex-end
    &__text
        min-width: 450px
        padding-bottom: 24px
        +lg 
            min-width: 250px
        +sm 
            min-width: inherit
    &__found
        font-family: $corp
        font-size: 24px
        font-weight: 300
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: #3a5864
        margin-right: auto
        &--bold
            font-weight: 700
    &__select-wrapper
        padding: 0 20px 24px
        font-size: 0
        text-align: center
        &--left-centered
            margin-left: -20px
            +sm 
                margin-left: 0
        +sm 
            padding: 0 0 14px 0
            text-align: center
            flex: 0 0 100%
        & > *
            display: inline-block
            vertical-align: middle
    &__country-flag
        max-width: 40px
        overflow: hidden
        margin-right: 15px
        img
            height: 30px
            display: inline-block
            vertical-align: middle
            +sm 
                height: 26px
    &__select-image
        margin-right: 15px 
        .icon
            font-size: 28px
        +md 
            display: none
    &__select
        width: 232px
        &--long 
            width: 278px
            +md 
                width: 232px
            +sm 
                width: 200px
        +sm 
            width: 200px
    &__select-label
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        color: $text_black
        display: block
        margin-bottom: 8px
        +lg 
            font-size: 14px
        +sm 
            font-size: 12px
            margin-bottom: 4px
    &__tooltip
        margin-left: 6px
        cursor: pointer
        .icon
            font-size: 28px
    &__range
        display: flex
        flex: 0 0 400px
        +md 
            flex: 0 0 auto
            padding-left: 24px
        +sm 
            width: 100%
            padding: 0
            justify-content: center
            align-items: center
    &__breadcrumb
        margin-right: auto
    &__btn
        flex: 0 0 100%
        text-align: center
        width: 100%
    &__or
        text-align: center
        align-self: flex-end
        line-height: 30px
        padding-bottom: 24px
        font-size: 18px
        +sm 
            line-height: 1
            font-size: 14px
            padding-bottom: 14px