.noUi-horizontal .noUi-handle
    width: 19px
    height: 19px
    top: -2px
    &:before,
    &:after
        display: none
.noUi-horizontal
    height: 17px
.range
    display: flex
    align-items: center
    +sm 
        flex-flow: column
    &__slider
        width: 230px
        +sm
            order: -1
            width: 100%
    &__numbers
        font-family: $corp
        font-size: 16px
        line-height: 1
        text-align: left
        color: #3a5864
        margin-right: 10px
.noUi-connect
    background: #eaeef0
    height: 12px