.select
    display: inline-block
    width: 100%
    
.select2-container--default .select2-selection--single .select2-selection__arrow b
    background: url(../assets/img/general/arr_green.png)
    background-size: cover
    width: 14px
    height: 9px
    margin: 0 3px
    border: none
    left: -5px
    top: 40%
    transition: transform 0.3s
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    transform: rotate(180deg)
    transition: transform 0.3s

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option
    font-family: $corp
    font-size: 16px !important
    line-height: 31px
    text-align: left
    color: #3a5864
    // padding-bottom: 4px
    padding-left: 8px
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__placeholder
    font-family: $corp
    font-size: 16px
    line-height: 1.38
    text-align: left
    color: #3a5864
    height: 31px

.select2-container--default
    font-family: $corp
    .select2-results__option
        padding-top: 3px
        padding-bottom: 3px
    .select2-results__option--highlighted[aria-selected]
        background-color: $blue
    .select2-results__option[aria-selected=true]
        background: $dark_blue

// .select-with-flag

// [id*='-countries-']
.select--flag
    .select2-results__option
        position: relative
        padding-left: 30px
    .img-flag
        position: absolute
        left: 6px
        top: 7px
        width: 16px
        margin: 0 5px -2px 0
    .select2-dropdown
        min-width: 400px
        border: 1px solid #c5c5c5 
        max-height: 300px

.select-with-price
    &__price
        display: inline-block
        vertical-align: bottom
        margin-right: 10px
        font-size: 25px
        line-height: 31px
        font-weight: 900
        color: $blue
    &__select
        display: inline-block
        vertical-align: bottom
        width: 232px
        .select2-container--default .select2-selection--single .select2-selection__rendered	
            color: $dark_blue
            font-size: 16px

.select-with-tooltip
    & > * 
        display: inline-block
        vertical-align: middle
        margin-right: 10px
    &__label
        font-size: 16px
        font-weight: bold
        line-height: 1.38
        color: $dark-grey
    &__select
        width: 232px
    &__tooltip
        margin-left: 6px
        cursor: pointer
        .icon
            font-size: 28px




