.title-biggest
    font-family: CorpidE1sSCd
    font-size: 48px
    font-weight: 800
    color: $title_dark
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
    +sm
        font-size: 32px

.title-big
    font-family: CorpidE1sSCd
    font-size: 32px
    font-weight: 900
    letter-spacing: -0.8px
    color: $title_dark
    text-transform: uppercase
    +sm 
        font-size: 26px

.title-middle
    font-family: CorpidE1sSCd
    line-height: 1
    font-size: 24px
    font-weight: 700
    letter-spacing: -0.6px
    text-align: left
    color: $text_black

.text
    font-family: $corp
    font-size: 17px
    font-weight: 300
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
    text-align: left
    color: $dark_blue
    line-height: 1.22
    &__link
        text-decoration: underline
        color: $text-link
    &--bold 
        color: $text_black
        font-weight: bold
    p
        margin-bottom: 16px
    //     &__single-review
    //     margin-bottom: 0.5em
    //     font-size: 17px
    //     line-height: normal
    //     color: 
    // &__text
    //     font-weight: 300
    //     margin-bottom: 0.5em
    // &__details
    //     font-weight: bold
.subtitle
    font-family: $corp
    font-size: 20px
    font-weight: 700
    color: $text_black
    +md 
        font-size: 18px
    +sm 
        font-size: 16px

.text-big
    font-size: 20px
    font-family: $corp
    line-height: 1.22
    p 
        margin-bottom: 16px
    &--italic
        font-style: italic

.testimonial
    margin-bottom: 42px
    text-align: center
    font-family: $corp
    &__text
        font-style: italic
        font-weight: 400
        margin-bottom: 16px
    &__details
        font-weight: 700